
<h1>Homepage</h1>


<h2>Crear Usuario</h2>

<div class="form-group row">
  <label for="nombres" class="col-4 col-form-label">
    Ingrese Nombres
  </label>
  <div class="col-8">
    <input class="form-control" type="text" placeholder="Vicente Adrian" id="nombres">
  </div>
</div>

<button class="btn btn-primary" onclick="crearNuevoUsuario()">
  Crear Nuevo Usuario
</button>


<h2>Busqueda de Usuarios</h2>


<form action="/">
  <div class="form-group row">
    <label for="busqueda" class="col-4 col-form-label">
      Busque por Nombres o Apellidos
    </label>
    <div class="col-8">
      <input class="form-control" type="text" placeholder="Buscar" id="busqueda"
             name="busqueda">
    </div>
  </div>
  <button class="btn btn-success btn-block">Buscar</button>
</form>

<br>
<br>

<div id="contenedor" class="row">
  <% for(var i=0;i<usuarios.length;i++){ %>
  <div class="col-sm-4">

    <h1><%=usuarios[i].apellidos%></h1>
    <h1><%=usuarios[i].nombres%></h1>


    <form action="/Usuario/eliminarUsuario" method="post">

      <input hidden
             type="text"
             value="<%=usuarios[i].id%>"
             name="id">

      <button  type="submit"
        class="btn btn-outline-danger">Borrar</button>

      <a href="/editarUsuario?id=<%=usuarios[i].id%>">

        <button type="button" class="btn btn-primary">
          Editar
        </button>
      </a>

    </form>

    <form action="/Usuario/AnadirUsuarioCarrito" method="post">

      <input hidden
             type="text"
             name="id"
             value="<%=usuarios[i].id%>">

      <button type="submit" class="btn btn-primary">
        Añadir Usuario a Carrito
      </button>
    </form>




  </div>
  <%}%>

</div>




<script>

  var url = "http://localhost:1337/Usuario";
  var metodo = "POST";
  var xhttp;
  var campoNombre;
  var usuario;



  function crearNuevoUsuario(){

    campoNombre = document
      .getElementById("nombres")
      .value;
    usuario = {
      nombres:campoNombre
    }
    // crear el nuevo http request
    xhttp = new XMLHttpRequest();

    // Definicion de la funcion
    // que es lo que va a pasar cuando me responda
    xhttp.onreadystatechange =
      agregarUsuarioALaInterfaz

    // Definir (URL y METODO, DATOS)

    var parametros = "?nombres="+usuario.nombres
    xhttp.open(metodo,url+parametros)

    // Enviar el request

    xhttp.send();



  }


  function agregarUsuarioALaInterfaz(){

    if (this.readyState == 4 && this.status == 201) {
      var usuarioCreado =
        JSON.parse(xhttp.responseText);

      var nuevoUsuarioNodo =
        document.createElement("div")

      nuevoUsuarioNodo.className = "col-sm-4";

      var htmlNuevoUsuario =
        "<h1>"+usuarioCreado.nombres+"</h1>"

      nuevoUsuarioNodo.innerHTML = htmlNuevoUsuario;

      var contenedor =
        document.getElementById("contenedor")
      contenedor.appendChild(nuevoUsuarioNodo);


    }else{

    }




  }


</script>











